html,
body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

#container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  position: relative;
}

#search-component {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  /* component */
  box-sizing: border-box;
  width: 100%;
  max-width: 600px;
  height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 25px;
  padding: 7px;
  transition: border-radius 0.2s ease-out;
}
#search-component:focus-within {
  transition: border-radius 0.3s ease-out;
}
#search-component #search-container {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
#search-component #search-container #search {
  width: 100%;
  display: flex;
  align-items: center;
  border: none;
  font-size: 16px;
  padding: 0 0 0 15px;
  background-color: transparent;
  height: 40px;
  color: black;
  margin-right: 5px;
  border-radius: 500px;
  background-color: #eaeaea79;
}
#search-component #search-container #search:focus {
  outline: none;
}
#search-component #search-container #icon {
  border-radius: 500px;
  background-color: white;
  height: 40px;
  width: 40px;
  cursor: pointer;
  background-color: #eaeaea79;
}
#search-component #search-container #icon svg {
  height: 40px;
  width: 40px;
}
#search-component #search-container #icon:hover {
  background-color: #186db6;
}
#search-component #search-container #icon:hover svg * {
  stroke: white;
}
#recent {
  display: none;
  position: absolute;
  width: 100%;
  height: fit-content;
  padding: 5px 0;
  box-sizing: border-box;
  border-radius: 0 0 25px 25px;
  margin-top: 3px;
  top: 100%;
  background-color: white;
  padding: 7px;
  box-shadow: #63636333 0px 2px 8px 0px;
  max-height: 0;
  animation: expand 0.7s ease-in-out forwards;
  animation-delay: 0.2s;
}
#recent .item {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 7px 15px;
  margin: 0;
  box-sizing: border-box;
  border-radius: 500px;
  font-size: 14px;
  font-weight: 500;
  opacity: 0;
  animation: fadeIn 0.3s ease-in forwards;
  animation-delay: 0.4s;
}
#recent .item:hover {
  background-color: #186cb61e;
}
#recent .item .cancel {
  margin: 0;
  margin-left: auto;
  width: 25px;
  height: 25px;
  border-radius: 500px;
}
#recent .item .cancel:hover {
  background-color: #186cb61e;
}

@keyframes expand {
  from {
    max-height: 0;
  }
  to {
    max-height: 400px;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
